body{
  background-color: #12AFB7;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.album{
  padding: 5px;
}

img {
  max-height: 400px;
}

select {
  height: 30px;
  border: 2px solid black;
  font-size: 14px;
}
